

   body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#one {
    width:25%; 
    border: 5px blue solid ;
    margin: 5px;
    padding: 5px;
    bottom : 0%;    
    right: 0%;
    position:fixed;
}

#two{
    width : 25%; 
   right:0%;
    border: 5px green solid ;
    margin: 5px;
    padding: 5px;
    position: fixed;
}

#three{
    width : 25%; 
    position: fixed;
    border: 5px orange solid ;
    margin: 5px;
    padding: 5px;
    left: 0%;
}

#four{
    width : 25%; 
    position : fixed;
    border: 5px yellow solid ;
    margin: 5px;
    padding: 5px;
    bottom: 0%;
}

#link{
color: white ;
position: fixed;
left:45%;
background-color:#3d59c6;
}
#link a{
    color: white;
    text-decoration: none;
}
